<!DOCTYPE html>
<html ng-app="pcnAudit">
<head>
  <meta charset="utf-8">
  <title>PCN Audit</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body ng-controller="StepsController as stepsCtrl">
  <nav class="navbar navbar-inverse">
    <div class="navbar-header">
      <div class="navbar-brand">PCN Audit</div>
    </div>
  </nav>
  <section class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <div class="panel panel-primary">
          <div class="panel-heading">Process Information</div>
          <div class="panel-body">
            <div class="row">
              <div class="col-sm-6">
                <form class="form-horizontal">
                  <div class="form-group">
                    <label for="process" class="col-sm-4 control-label">Process</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" name="process" placeholder="Process title..." ng-model="stepsCtrl.metadata.title">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="industry" class="col-sm-4 control-label">Industry</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" name="industry" placeholder="Industry name..." ng-model="stepsCtrl.metadata.industry">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="provider" class="col-sm-4 control-label">Provider</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" name="provider" placeholder="Provider name..." ng-model="stepsCtrl.domains[0].title">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="customer" class="col-sm-4 control-label">Customer</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" name="customer" placeholder="Customer name..." ng-model="stepsCtrl.domains[1].title">
                    </div>
                  </div>
                </form>
              </div>
              <div class="col-sm-6">
                <form>
                  <div class="form-group">
                    <label for="description" class="control-label">Description</label>
                    <textarea class="form-control" name="description" placeholder="Process description..." rows="3" ng-model="stepsCtrl.metadata.description"></textarea>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="panel panel-primary">
          <div class="panel-heading">Process Steps</div>
          <div class="panel-body">
            <div class="row">
              <div class="col-sm-6">
                <form>
                  <div class="form-group">
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" ng-model="stepsCtrl.showAdvanced">
                        Show advanced features
                      </label>
                    </div>
                  </div>
                </form>
              </div>
              <div class="col-sm-6">
                <div class="btn-group">
                  <button type="button" class="btn btn-default" ng-click="stepsCtrl.expandAll()">Expand all</button>
                  <button type="button" class="btn btn-default" ng-click="stepsCtrl.collapseAll()">Collapse all</button>
                </div>
              </div>
            </div>
            <hr>
            <div class="row" ng-repeat="step in stepsCtrl.steps">
              <div class="col-xs-12">
                <div class="panel panel-info">
                  <div class="panel-heading">
                    <span ng-click="step.toggleVisibility()" class="glyphicon" ng-class="{'glyphicon-chevron-down': !step.collapsed, 'glyphicon-chevron-right': step.collapsed}"></span>
                    &nbsp;&nbsp;
                    <input type="text" class="form-control" style="display: inline; width: auto;" placeholder="Step title..." ng-model="step.title">
                    <div class="pull-right">
                      <span ng-hide="stepsCtrl.isFirstStep(step)" ng-click="stepsCtrl.moveStepUp(step)" class="glyphicon glyphicon-chevron-up"></span>
                      <span ng-hide="stepsCtrl.isLastStep(step)" ng-click="stepsCtrl.moveStepDown(step)" class="glyphicon glyphicon-chevron-down"></span>
                      <span class="glyphicon glyphicon-minus" ng-click="stepsCtrl.removeStep(step)"></span>
                    </div>
                  </div>
                  <div class="panel-body" ng-hide="step.collapsed">
                    <form class="form-horizontal">
                      <div class="form-group">
                        <label class="col-sm-2 control-label">Type:</label>
                        <div class="col-sm-10">
                          <select class="form-control" ng-model="step.type">
                            <option value="process">Process</option>
                            <option value="decision">Decision</option>
                            <option value="wait">Wait</option>
                            <option value="divergent-process">Divergent Process</option>
                          </select>
                        </div>
                      </div>
                    </form>
                    <form class="form-horizontal">
                      <div class="form-group">
                        <label class="col-sm-2 control-label">Specific Value:</label>
                        <div class="col-sm-10">
                          <select class="form-control" ng-model="step.valueSpecific">
                            <option value="2">very valuable</option>
                            <option value="1">somewhat valuable</option>
                            <option value="0" selected>necessary but not valuable</option>
                            <option value="-1">not necessary nor valuable</option>
                          </select>
                        </div>
                      </div>
                      <div class="form-group" ng-show="stepsCtrl.showAdvanced">
                        <label class="col-sm-2 control-label">Generic Value:</label>
                        <div class="col-sm-10">
                          <select class="form-control" ng-model="step.valueGeneric">
                            <option value="3">+$$$</option>
                            <option value="2">+$$</option>
                            <option value="1">+$</option>
                            <option value="0" selected></option>
                            <option value="-1">-$</option>
                            <option value="-2">-$$</option>
                            <option value="-3">-$$$</option>
                          </select>
                        </div>
                      </div>
                    </form>
                    <form ng-show="stepsCtrl.showAdvanced">
                      <div class="form-group">
                        <div class="row">
                          <div class="col-sm-2"></div>
                          <div class="col-sm-10">
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" ng-model="step.emphasized"> Emphasized
                              </label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </form>
                    <div class="panel panel-default" ng-show="stepsCtrl.showAdvanced">
                      <div class="panel-heading" ng-click="step.toggleSectionVisibility('position')"><span class="glyphicon" ng-class="{'glyphicon-chevron-down': !step.collapsedSections.position, 'glyphicon-chevron-right': step.collapsedSections.position}"></span> Position</div>
                      <div class="panel-body" ng-hide="step.collapsedSections.position">
                        <form class="form-horizontal">
                          <div class="form-group">
                            <label class="col-sm-2 control-label">This Entity:</label>
                            <div class="col-sm-10">
                              <select class="form-control" ng-model="step.domain.id">
                                <option ng-repeat="domain in stepsCtrl.domains" ng-value="domain.id">{{ domain.title }}</option>
                              </select>
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="col-sm-2 control-label">In Region:</label>
                            <div class="col-sm-10">
                              <select class="form-control" ng-model="step.domain.region.type">
                                <option value="independent">Independent</option>
                                <option value="surrogate">Surrogate</option>
                                <option value="direct_leading">Direct Leading</option>
                                <option value="direct_shared">Direct Shared</option>
                              </select>
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="col-sm-2 control-label">With:</label>
                            <div class="col-sm-10">
                              <select class="form-control" ng-model="step.domain.region.with_domain">
                                <option value="">None</option>
                                <option ng-repeat="domain in stepsCtrl.domains" ng-value="domain.id">{{ domain.title }}</option>
                              </select>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                    <div class="panel panel-default" ng-show="stepsCtrl.showAdvanced">
                      <div class="panel-heading" ng-click="step.toggleSectionVisibility('predecessors')"><span class="glyphicon" ng-class="{'glyphicon-chevron-down': !step.collapsedSections.predecessors, 'glyphicon-chevron-right': step.collapsedSections.predecessors}"></span> Predecessors</div>
                      <div class="panel-body" ng-hide="step.collapsedSections.predecessors">
                        <div class="well well-sm" ng-repeat="predecessor in step.predecessors">
                          <form class="form-horizontal">
                            <div class="form-group">
                              <label class="col-sm-2 control-label">Step:</label>
                              <div class="col-sm-10">
                                <select class="form-control" ng-model="predecessor.id">
                                  <option value="">None</option>
                                  <option ng-repeat="predecessorStep in stepsCtrl.steps" ng-value="predecessorStep.id">{{ predecessorStep.title }}</option>
                                </select>
                              </div>
                            </div>
                            <div class="form-group" ng-show="predecessor.id">
                              <label class="col-sm-2 control-label">Relationship</label>
                              <div class="col-sm-10">
                                <select class="form-control" ng-model="predecessor.type">
                                  <option value="normal">Normal</option>
                                  <option value="loose-temporal">Loose Temporal</option>
                                </select>
                              </div>
                            </div>
                            <div class="form-group" ng-show="predecessor.id">
                              <label class="col-sm-2 control-label">Title</label>
                              <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="Relationship title..." ng-model="predecessor.title">
                              </div>
                            </div>
                          </form>
                        </div>
                        <div class="row">
                          <div class="col-xs-12">
                            <a class="btn btn-success" ng-click="step.addPredecessor()"><span class="glyphicon glyphicon-plus"></span> Add Predecessor</a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="panel panel-default" ng-show="stepsCtrl.showAdvanced">
                      <div class="panel-heading" ng-click="step.toggleSectionVisibility('problems')"><span class="glyphicon" ng-class="{'glyphicon-chevron-down': !step.collapsedSections.problems, 'glyphicon-chevron-right': step.collapsedSections.problems}"></span> Problems</div>
                      <div class="panel-body" ng-hide="step.collapsedSections.problems">
                        <div class="well well-sm" ng-repeat="problem in step.problems">
                          <form class="form-horizontal">
                            <div class="form-group">
                              <label class="col-sm-2 control-label">Problem type:</label>
                              <div class="col-sm-10">
                                <select class="form-control" ng-model="problem.type">
                                  <option value="inconvenient">Inconvenient</option>
                                  <option value="confusing">Confusing</option>
                                  <option value="difficult">Difficult</option>
                                  <option value="likely_to_fail">Likely to fail</option>
                                </select>
                              </div>
                            </div>
                            <div class="form-group">
                              <label class="col-sm-2 control-label">Reason:</label>
                              <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="Reason..." ng-model="problem.description">
                              </div>
                            </div>
                          </form>
                        </div>
                        <div class="row">
                          <div class="col-xs-12">
                            <a class="btn btn-success" ng-click="step.addProblem()"><span class="glyphicon glyphicon-plus"></span> Add Problem</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <a class="btn btn-success" ng-click="stepsCtrl.addStep()"><span class="glyphicon glyphicon-plus"></span> Add Step</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="panel panel-primary">
          <div class="panel-heading">Output Information</div>
          <div class="panel-body">
            <div class="row">
              <div class="col-sm-12">
                <form>
                  <div class="form-group">
                    <label for="json" class="control-label">Output JSON</label>
                    <textarea class="form-control" name="json" placeholder="JSON Output..." rows="20">
{{ stepsCtrl.serialize() | json }}
                    </textarea>
                    <br/>
                    <p>Copy and Paste the JSON above into your desired PCN Diagram Generator.</p>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <script src="js/lib/angular.min.js"></script>
  <script src="js/app.js"></script>
  <script src="js/step.js"></script>
  <script src="js/guid.js"></script>
  <script src="js/predecessor.js"></script>
  <script src="js/problem.js"></script>
</body>
</html>
