<!DOCTYPE html>
<html ng-app="pcnAudit">
<head>
  <meta charset="utf-8">
  <title>PCN Audit</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
  <nav class="navbar navbar-inverse">
    <div class="navbar-header">
      <div class="navbar-brand">PCN Audit</div>
    </div>
  </nav>
  <section class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <div class="panel panel-primary">
          <div class="panel-heading">Process Information</div>
          <div class="panel-body">
            <div class="row">
              <div class="col-sm-6">
                <form class="form-horizontal">
                  <div class="form-group">
                    <label for="process" class="col-sm-4 control-label">Process</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" name="process" placeholder="Process title...">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="industry" class="col-sm-4 control-label">Industry</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" name="industry" placeholder="Industry name...">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="provider" class="col-sm-4 control-label">Provider</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" name="provider" placeholder="Provider name...">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="customer" class="col-sm-4 control-label">Customer</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" name="customer" placeholder="Customer name...">
                    </div>
                  </div>
                </form>
              </div>
              <div class="col-sm-6">
                <form>
                  <div class="form-group">
                    <label for="description" class="control-label">Description</label>
                    <textarea class="form-control" name="description" placeholder="Process description..." rows="3"></textarea>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="panel panel-primary" ng-controller="StepsController as stepsCtrl">
          <div class="panel-heading">Process Steps</div>
          <div class="panel-body">
            <div class="row">
              <div class="col-sm-6">
                <form>
                  <div class="form-group">
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" ng-model="stepsCtrl.showAdvanced">
                        Show advanced features
                      </label>
                    </div>
                  </div>
                </form>
              </div>
              <div class="col-sm-6">
                <div class="btn-group">
                  <button type="button" class="btn btn-default">Expand all</button>
                  <button type="button" class="btn btn-default">Collapse all</button>
                </div>
              </div>
            </div>
            <hr>
            <div class="row" ng-repeat="step in stepsCtrl.steps">
              <div class="col-xs-12">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <span class="glyphicon glyphicon-chevron-down"></span>
                    {{ step.title }}
                  </div>
                  <div class="panel-body">
                    <form class="form-horizontal">
                      <div class="form-group">
                        <label for="step-title" class="col-sm-2 control-label">Title</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" placeholder="Step title..." ng-model="step.title">
                        </div>
                      </div>
                    </form>
                    <div class="panel panel-default" ng-show="stepsCtrl.showAdvanced">
                      <div class="panel-heading"><span class="glyphicon glyphicon-chevron-down"></span> Problems</div>
                      <div class="panel-body">
                        <div ng-repeat="problem in step.problems">
                          <div class="row">
                            <div class="col-xs-12">
                              <form class="form-horizontal">
                                <div class="form-group">
                                  <label class="col-sm-2 control-label">Problem type:</label>
                                  <div class="col-sm-10">
                                    <select class="form-control">
                                      <option value="inconvenient">Inconvenient</option>
                                      <option value="confusing">Confusing</option>
                                      <option value="difficult">Difficult</option>
                                      <option value="likely_to_fail">Likely to fail</option>
                                    </select>
                                  </div>
                                </div>
                                <div class="form-group">
                                  <label class="col-sm-2 control-label">Reason:</label>
                                  <div class="col-sm-10">
                                    <input type="text" class="form-control" placeholder="Reason...">
                                  </div>
                                </div>
                              </form>
                            </div>
                          </div>
                          <hr>
                        </div>
                        <div class="row">
                          <div class="col-xs-12">
                            <a class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Add Problem</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <a class="btn btn-success" ng-click="stepsCtrl.addStep()"><span class="glyphicon glyphicon-plus"></span> Add Step</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <script src="js/lib/angular.min.js"></script>
  <script src="js/app.js"></script>
</body>
</html>
