<!DOCTYPE html>
<html ng-app="pcnAudit">
<head>
  <meta charset="utf-8">
  <title>PCN Audit</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
  <nav class="navbar navbar-inverse">
    <div class="navbar-header">
      <div class="navbar-brand">PCN Audit</div>
    </div>
  </nav>
  <section class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <div class="panel panel-primary">
          <div class="panel-heading">Process Information</div>
          <div class="panel-body">
            <div class="row">
              <div class="col-sm-6">
                <form class="form-horizontal">
                  <div class="form-group">
                    <label for="process" class="col-sm-4 control-label">Process</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" name="process" placeholder="Process title...">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="industry" class="col-sm-4 control-label">Industry</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" name="industry" placeholder="Industry name...">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="provider" class="col-sm-4 control-label">Provider</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" name="provider" placeholder="Provider name...">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="customer" class="col-sm-4 control-label">Customer</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" name="customer" placeholder="Customer name...">
                    </div>
                  </div>
                </form>
              </div>
              <div class="col-sm-6">
                <form>
                  <div class="form-group">
                    <label for="description" class="control-label">Description</label>
                    <textarea class="form-control" name="description" placeholder="Process description..." rows="3"></textarea>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="panel panel-primary" ng-controller="StepsController as stepsCtrl">
          <div class="panel-heading">Process Steps</div>
          <div class="panel-body">
            <div class="row">
              <div class="col-sm-6">
                <form>
                  <div class="form-group">
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" ng-model="stepsCtrl.showAdvanced">
                        Show advanced features
                      </label>
                    </div>
                  </div>
                </form>
              </div>
              <div class="col-sm-6">
                <div class="btn-group">
                  <button type="button" class="btn btn-default">Expand all</button>
                  <button type="button" class="btn btn-default">Collapse all</button>
                </div>
              </div>
            </div>
            <hr>
            <div class="row" ng-repeat="step in stepsCtrl.steps">
              <div class="col-xs-12">
                <div class="panel panel-info">
                  <div class="panel-heading">
                    <span class="glyphicon glyphicon-chevron-down"></span>
                    {{ step.title }}
                  </div>
                  <div class="panel-body">
                    <form class="form-horizontal">
                      <div class="form-group">
                        <label for="step-title" class="col-sm-2 control-label">Title</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" placeholder="Step title..." ng-model="step.title">
                        </div>
                      </div>
                    </form>
                    <div class="panel panel-default" ng-show="stepsCtrl.showAdvanced">
                      <div class="panel-heading"><span class="glyphicon glyphicon-chevron-down"></span> Type</div>
                      <div class="panel-body">
                        <form class="form-horizontal">
                          <div class="form-group">
                            <label class="col-sm-2 control-label">Type:</label>
                            <div class="col-sm-10">
                              <select class="form-control" ng-model="step.type">
                                <option value="process">Process</option>
                                <option value="decision">Decision</option>
                                <option value="wait">Wait</option>
                                <option value="divergent-process">Divergent Process</option>
                              </select>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                    <div class="panel panel-default" ng-show="stepsCtrl.showAdvanced">
                      <div class="panel-heading"><span class="glyphicon glyphicon-chevron-down"></span> Position</div>
                      <div class="panel-body">
                        <form class="form-horizontal">
                          <div class="form-group">
                            <label class="col-sm-2 control-label">Position:</label>
                            <div class="col-sm-10">
                              <select class="form-control" ng-model="step.position">
                                <option value="ip-provider">IP–Provider</option>
                                <option value="si-provider">SI–Provider</option>
                                <option value="di-provider">DI–Provider</option>
                                <option value="di">DI</option>
                                <option value="di-customer">DI–Customer</option>
                                <option value="si-customer">SI–Customer</option>
                                <option value="ip-customer">IP–Customer</option>
                              </select>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                    <div class="panel panel-default" ng-show="stepsCtrl.showAdvanced">
                      <div class="panel-heading"><span class="glyphicon glyphicon-chevron-down"></span> Predecessors</div>
                      <div class="panel-body">
                        <div class="well well-sm" ng-repeat="predecessor in step.predecessors">
                          <form class="form-horizontal">
                            <div class="form-group">
                              <label class="col-sm-2 control-label">Step:</label>
                              <div class="col-sm-10">
                                <select class="form-control" ng-model="predecessor.id">
                                  <option value="">None</option>
                                  <option ng-repeat="predecessorStep in stepsCtrl.steps" value="predecessorStep.id">{{ predecessorStep.title }}</option>
                                </select>
                              </div>
                            </div>
                            <div class="form-group" ng-show="predecessor.id">
                              <label class="col-sm-2 control-label">Relationship</label>
                              <div class="col-sm-10">
                                <select class="form-control" ng-model="predecessor.type">
                                  <option value="normal">Normal</option>
                                  <option value="loose-temporal">Loose Temporal</option>
                                </select>
                              </div>
                            </div>
                            <div class="form-group" ng-show="predecessor.id">
                              <label class="col-sm-2 control-label">Title</label>
                              <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="Relationship title..." ng-model="predecessor.title">
                              </div>
                            </div>
                          </form>
                        </div>
                        <div class="row">
                          <div class="col-xs-12">
                            <a class="btn btn-success" ng-click="step.addPredecessor()"><span class="glyphicon glyphicon-plus"></span> Add Predecessor</a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="panel panel-default" ng-show="stepsCtrl.showAdvanced">
                      <div class="panel-heading"><span class="glyphicon glyphicon-chevron-down"></span> Value</div>
                      <div class="panel-body">
                        <form class="form-horizontal">
                          <div class="form-group">
                            <label class="col-sm-2 control-label">Specific Value:</label>
                            <div class="col-sm-10">
                              <select class="form-control" ng-model="step.specificValue">
                                <option value="p-3">3</option>
                                <option value="p-2">2</option>
                                <option value="p-1">1</option>
                                <option value="zero" selected>0</option>
                                <option value="n-1">-1</option>
                                <option value="n-2">-2</option>
                                <option value="n-3">-3</option>
                              </select>
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="col-sm-2 control-label">Generic Value:</label>
                            <div class="col-sm-10">
                              <select class="form-control" ng-model="step.genericValue">
                                <option value="p-3">3</option>
                                <option value="p-2">2</option>
                                <option value="p-1">1</option>
                                <option value="zero" selected>0</option>
                                <option value="n-1">-1</option>
                                <option value="n-2">-2</option>
                                <option value="n-3">-3</option>
                              </select>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                    <div class="panel panel-default" ng-show="stepsCtrl.showAdvanced">
                      <div class="panel-heading"><span class="glyphicon glyphicon-chevron-down"></span> Other Options</div>
                      <div class="panel-body">
                        <form>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" ng-model="step.emphasized"> Emphasized
                            </label>
                          </div>
                        </form>
                      </div>
                    </div>
                    <div class="panel panel-default" ng-show="stepsCtrl.showAdvanced">
                      <div class="panel-heading"><span class="glyphicon glyphicon-chevron-down"></span> Problems</div>
                      <div class="panel-body">
                        <div class="well well-sm" ng-repeat="problem in step.problems">
                          <form class="form-horizontal">
                            <div class="form-group">
                              <label class="col-sm-2 control-label">Problem type:</label>
                              <div class="col-sm-10">
                                <select class="form-control" ng-model="problem.type">
                                  <option value="inconvenient">Inconvenient</option>
                                  <option value="confusing">Confusing</option>
                                  <option value="difficult">Difficult</option>
                                  <option value="likely_to_fail">Likely to fail</option>
                                </select>
                              </div>
                            </div>
                            <div class="form-group">
                              <label class="col-sm-2 control-label">Reason:</label>
                              <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="Reason..." ng-model="problem.description">
                              </div>
                            </div>
                          </form>
                        </div>
                        <div class="row">
                          <div class="col-xs-12">
                            <a class="btn btn-success" ng-click="step.addProblem()"><span class="glyphicon glyphicon-plus"></span> Add Problem</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <a class="btn btn-success" ng-click="stepsCtrl.addStep()"><span class="glyphicon glyphicon-plus"></span> Add Step</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <script src="js/lib/angular.min.js"></script>
  <script src="js/app.js"></script>
  <script src="js/step.js"></script>
  <script src="js/guid.js"></script>
  <script src="js/predecessor.js"></script>
  <script src="js/problem.js"></script>
</body>
</html>
